**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.lock.hcl

*.retry
ansible/inventory/hosts.yml
ansible/inventory/group_vars/all.yml
kubeconfig
*.kubeconfig

.DS_Store
.idea/
.vscode/

experiments/results/
