proxmox_endpoint  = "https://192.168.178.210:8006/"
proxmox_api_token = "root@pam!terraform=00000000-0000-0000-0000-000000000000"

proxmox_node = "pve"
storage_pool = "local-lvm"

vm_id   = 111
vm_name = "wab"

vm_cores     = 4
vm_memory    = 8192
vm_disk_size = 50

network_bridge = "vmbr0"
vm_ip_address  = "192.168.178.235"
vm_subnet_mask = 24
vm_gateway     = "192.168.178.1"

vm_user        = "ubuntu"
ssh_public_key = "ssh-ed25519 AAAA... you@host"
